<div style="width: 25vw;height:40vh;" >
<div style="padding:0 10vw;margin-bottom: 5vh;"><mat-icon style="font-size:5vw;color:green" >check_circle_outline</mat-icon></div>
<div  style="font-size: 20px;text-align:center;margin-bottom: 10vh;">{{m1}}</div>
<div *ngIf="r=='login'" style="text-align:center;"  ><button mat-button mat-dialog-close routerLink={{r}} (click)="focus()" style="font-size: 20px;">{{m2}}</button></div>
<div *ngIf="r=='home'" style="text-align:center;"  ><button mat-button mat-dialog-close routerLink={{r}}  style="font-size: 20px;">{{m2}}</button></div>
</div>
