@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@800&family=Comforter&family=Lobster&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Playfair+Display:wght@900&family=Ramaraja&family=Redressed&display=swap');
/* mat-grid-tile{
    padding-top: 50px !important;
} */
.card{
    transition: all .2s ease-in-out;
    border-radius: 4px;
    
}
.card-main{
    position: relative;
}

.discount{
    position:absolute;
    background-image: linear-gradient(
        to right,
        #462523 0,
               #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    height: 40px;
    width: 80px;
    border-radius: 0 15px 15px 0;
    line-height: 30px;
    left: -30px;
    top: 30px;
}
.discount::after{
    border-top: 6px solid #c80;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    border-left: 14px solid transparent;
    border-right: 0px solid transparent;
}

.cart-item{
    text-align: center;
    line-height: 45px;
    background: #111;
    transition: all 1s ease-in-out;
    position: relative;
    top: -100px;
    opacity: 0;
    width: 100%;
}

.cart-item ul{
    padding: 0;
    margin: 0;
}

.cart-item ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
}


.cart-item ul li::after{
    content: '';
    width: 1px;
    height: 18px;
    background: rgba(255, 255, 255,.15);
    position: absolute;
    left: -2px;
    top: 10px;
}

.cart-item ul li:first-child:after{
   display: none;
}

.cart-item ul li a{
    padding: 0 70px;
    color: #ccc;
}

.cart-item ul li .a:hover{
    color: rgb(240, 98, 98);
}

.cart-item ul li .b:hover{
    color: rgb(236, 191, 103);
}

.product-container{
    position: absolute;
    right: -20px;
    top: 10px;
    z-index: 4;
    transition: 0.6s;
    opacity: 0;
}

.p{
    
    border-radius: 2px;
    margin-bottom: 3vh;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.p img{
    border: 2px solid white;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.p img:hover{
    opacity: 1;
}

.card:hover .product-container{
    opacity: 1;
     right: 0px;
}

.card:hover .x{
    color: #fa0;
}

.card:hover .cart-item{
    opacity: 1;
    top: -60px;
}