<div class="footer">
<div class="container">
    <div class="paiement">
        <img src="./assets/icones/paiement.png">
        <p class="information">Paiement cash à la livraison</p>
    </div>
    <div class="livraison">
        <img src="./assets/icones/livraison.png">
        <p class="information">Livraison gratuite à partir de 499 MAD</p>
    </div>
    <div class="changement">
        <img src="./assets/icones/changement.png">
        <p class="information">Retour ou changement sous 30 jours</p>
    </div>
</div>
    <p class="info-footer">Inscrivez-vous pour recevoir des offres spéciales et des mises à jour</p>
    <div style="margin-left: 39vw;margin-top: 5vh;margin-bottom: 5vh;">
    <mat-form-field style="width:200px"  >
       
        <input matInput placeholder="Entrer votre adresse Email" id="input" >

    </mat-form-field>

    <button mat-raised-button color="warn" id="Inscription-btn" >Inscrivez-Vous</button></div>
    <p class="info-footer">Contactez-Nous sur :</p>
    <a class="icon" style="margin-left:36.5vw" href="facebook.com"> <img src="./assets/icones/facebook.png" ></a>
    <a class="icon" href="instagram.com"> <img src="./assets/icones/instagram.png" ></a>
    <a class="icon" href="twitter.com"> <img src="./assets/icones/twitter.png" ></a>
    <a class="icon" href="pinterest.com"> <img src="./assets/icones/pinterest.png" ></a>
    <p style="text-align:center">© 2022 Mode parfaite</p>
</div>